.about {
  padding: 30px 100px 0 100px;
  text-align: left;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.about .image {
  height: 461px;
  margin-left: 10%;
}

.about-container {
  width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.page > p {
  max-width: 400px;
}

@media only screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    width: 300px;
    padding: 0 !important;
    margin: 0 auto;
  }

  .about-container {
    width: 300px !important;
    order: 2;
  }
  .about .image {
    order: 1;
    height: 300px;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .footer-container {
    right: unset;
    width: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
