.main {
  width: 100%;
  height: 800px;
  min-height: 100%;
}
.nav {
  display: flex;
  width: 100%;
  height: 80px;
  max-width: 1200px;
  top: 0px;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0 42px;
  user-select: none;
}
.orange-logo {
  height: 24.9px;
  width: 166px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../assets/orange_logo/Snaptravel_full_orange@2x.png);
  position: relative;
}

.snaptravel {
  height: 24.9px;
  width: 166px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../assets/orange_logo/Snaptravel_full_orange@2x.png);
  margin-top: 78px !important;
}

.bloomberg {
  height: 42px;
  width: 137px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../assets/Bitmap/Bloomberg.png);
  margin-top: 70px !important;
}

.gt {
  height: 57px;
  width: 138px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../assets/Bitmap/GeorgiaTech.png);
  position: relative;
  margin-top: 30px !important;
}

.center {
  margin: 0 auto;
}

.page {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.page p {
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.87);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}

.page h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.page hr {
  height: 6px;
  width: 80px;
  background-color: #f1823b;
  margin: 5px 0 5px 0;
  padding: 0;
  border: 0;
}

.carousel {
  min-height: 800px;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel__controls,
.carousel__activator {
  display: none;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__track {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.carousel__activator:nth-of-type(1):checked
  ~ .carousel__controls:nth-of-type(1) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(1):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(1) {
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__track {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.carousel__activator:nth-of-type(2):checked
  ~ .carousel__controls:nth-of-type(2) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(2) {
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__track {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  position: absolute;
  height: 1050px;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.carousel__activator:nth-of-type(3):checked
  ~ .carousel__controls:nth-of-type(3) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(3) {
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__track {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.carousel__activator:nth-of-type(4):checked
  ~ .carousel__controls:nth-of-type(4) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(4) {
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__track {
  -webkit-transform: translateX(-400%);
  transform: translateX(-400%);
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.carousel__activator:nth-of-type(5):checked
  ~ .carousel__controls:nth-of-type(5) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(5) {
  opacity: 1;
}
.carousel__control {
  height: 30px;
  width: 30px;
  margin-top: -15px;
  top: 50%;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: #fafafa;
  opacity: 0.35;
  outline: 0;
  z-index: 3;
}
.carousel__control:hover {
  opacity: 1;
}
.carousel__control--backward {
  left: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.carousel__control--forward {
  right: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.carousel__indicators {
  text-align: right;
  display: flex;
  justify-content: space-between;
  width: 50%;
  position: absolute;
  right: 5%;
}
.carousel__indicator {
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  color: #f36518;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

/* .carousel__indicator:hover {
  opacity: 0.75;
  border-bottom: 3px solid #f1823b;
} */
.carousel__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.carousel__track .carousel__slide {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.carousel__track .carousel__slide:nth-of-type(1) {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.carousel__track .carousel__slide:nth-of-type(2) {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.carousel__track .carousel__slide:nth-of-type(3) {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}
.carousel__track .carousel__slide:nth-of-type(4) {
  -webkit-transform: translateX(300%);
  transform: translateX(300%);
}
.carousel__track .carousel__slide:nth-of-type(5) {
  -webkit-transform: translateX(400%);
  transform: translateX(400%);
}
.carousel--scale .carousel__slide {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.carousel__slide {
  height: 100%;
  position: absolute;
  overflow-y: auto;
  opacity: 0;
  padding-top: 56px;
}
/**
  * Theming
*/
* {
  box-sizing: border-box;
}
.carousel-container {
  display: inline-block;
}

.mobile-header {
  display: none;
}

.carousel--thumb .carousel__indicator {
  height: 30px;
  width: 30px;
}

@media only screen and (max-width: 1023px) {
  .intro-logo1 {
    display: none;
  }
  .nav {
    display: none;
  }
  .mobile-header {
    display: flex;
    justify-content: space-between;
    z-index: 5;
    padding: 0 7%;
    position: sticky;
    width: 100%;
  }
  .orange-logo {
    background-image: url(../assets/snaptravel_full/Snaptravel_full_orange@2x@2x.png);
    position: relative;
    display: flex;
  }

  .carousel__indicators {
    display: none;
  }

  .carousel__indicator {
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .dropdown {
    visibility: visible !important;
  }
}

.nav-sticky {
  align-items: center;
  position: sticky;
  margin-top: unset;
}
