@import url("./intro.css");
@import url("./carousel.css");
@import url("./about-page.css");
@import url("./scholarship-page.css");
@import url("./stem-page.css");
@import url("./learn-more.css");
@import url("./footer.css");

html {
  height: 100%;
}
.container {
  min-height: 100%;
  margin: 0;
}

.button {
  margin-top: 10px;
  height: 42px;
  width: 123px;
  border-radius: 4px;
  background-color: #f36518;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: white;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.79;
}
.button:active {
  background-color: rgb(204, 83, 19);
  opacity: 1;
}

.bottom-position {
  position: absolute;
  bottom: 21px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  visibility: hidden;
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 1vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  background-color: #f36518;
  color: white;
  min-width: 50vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.arrow {
  height: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
