body {
  margin: auto;
  background-color: white;
  max-width: 1200px;
  position: relative;
  height: 100%;
  min-height: 100%;
  padding: 0;
  font-family: "Montserrat";
}

body::after {
  content: "";
  display: block;
  height: 7vh;
}

.intro-section {
  background-color: #919191;
  overflow: hidden;
  height: 590px;
}

.intro-background {
  max-width: 1200px;
  width: 100%;
  height: 590px;
  top: 0;
  margin: auto;
  filter: brightness(50%);
  position: absolute;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 140%;
  /* min-width: 120vh; */
  background-position: 40% 30%;
  background-image: url(../assets/Bitmap/bitmap.jpg);
  opacity: 0.78;
}

.intro-top-container {
  top: 0;
  left: 0;
  display: flex;
  z-index: 5;
  flex-direction: column;
  position: relative;
}

.intro-row-container {
  display: flex;
  padding: 31px 42px 0px 42px;
  justify-content: space-between;
  position: relative;
}

.intro-logo {
  height: 25px;
  width: 166px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto 0;
  background-image: url(../assets/snaptravel_full/Snaptravel_full_orange@2x.png);
}

.intro-logo1 {
  height: 25px;
  width: 166px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto 0;
  background-image: url(../assets/snaptravel_full/Snaptravel_full_orange@2x.png);
}

.intro-text-box {
  height: 97px;
  width: 443px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  display: flex;
  align-items: center;
  padding: 14px 31px;
}
.intro-text {
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}
.intro-big-title-box {
  display: block;
  width: 798px;
  padding-top: 90px;
  margin: auto;
}
.intro-big-title-text {
  font-size: 38px;
  color: white;
  font-weight: 500;
  line-height: 45px;
}

.link {
  text-decoration: unset;
  color: #f36518;
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .intro-text-box {
    width: 400px;
  }

  .intro-big-title-box {
    width: 100%;
    max-width: 798px;
  }
  .intro-big-title-text {
    padding-left: 42px;
  }
}

@media only screen and (max-width: 600px) {
  .intro-section {
    height: 491px;
  }

  .intro-background {
    background-position: center;
    background-size: cover;
    height: 491px;
    background-position: -320px 0px;
  }

  .intro-logo {
    height: 16px;
    width: 107px;
    margin: auto 0;
  }

  .intro-row-container {
    flex-direction: column;
    padding: 20px 24px 0px 24px;
  }

  .intro-text-box {
    width: 100%;
    max-width: 400px;
    height: 110px;
    padding: 13px 0 13px 0;
  }
  .intro-text {
    font-size: 12px;
    max-width: 241px;
    margin: auto;
    text-align: center;
  }

  .intro-big-title-box {
    width: 271px;
    padding-top: 40px;
    margin-left: 24px;
  }
  .intro-big-title-text {
    font-size: 20px;
    line-height: 28px;
  }
}
