.learn-more {
  padding: 90px 100px 0 100px;
  text-align: left;
  width: 100%;
  min-width: 80%;
}

.learn-more-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.learn-more-container2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.container-item {
  height: 268px;
  width: 259px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container-item:hover {
  -webkit-box-shadow: 3px 9px 83px -34px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 3px 9px 83px -34px rgba(0, 0, 0, 0.82);
  box-shadow: 3px 9px 83px -34px rgba(0, 0, 0, 0.82);
}

.text-snaptravel {
  height: 61px;
  width: 164px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Montserrat;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  position: relative;
  top: 29px;
}

.text-bloomberg {
  height: 61px;
  width: 180px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Montserrat;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  position: relative;
  top: 20px;
}

.text-gt {
  height: 116px;
  width: 184px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Montserrat;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  position: relative;
  top: 20px;
}

.small-text {
  width: 85%;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto 4% auto;
}

.henry-text {
  width: 85%;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
  line-height: 28px;
  text-align: center;
  margin: 0 auto 4% auto;
}

@media only screen and (max-width: 820px) {
  .learn-more-container {
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .container-item {
    margin: 20px 0px;
  }

  .learn-more {
    padding: 0 !important;
  }

  .learn-more-container2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-left: 15%;
  }
}

.avatarimage {
  height: 50px;
  margin: 0 auto;
  text-align: center;
}

.orange-text {
  color: #f36518;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.orange {
  color: #f36518;
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 21px;
  font-size: 14px;
}

.orange:hover {
  cursor: pointer;
}

.orange-text:nth-of-type(2) {
  margin-bottom: 5%;
}
